/*webstudio*/
:root {
  --roboto-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --brand-color: #212121;
  --logo-cl: #2196f3;
  --white-cl: #ffffff;
  --black-cl: #000000;
  --grey-cl: #757575;
  --bc-footcl: #2f303a;
  --btn-cl: #188ce8;
  --whiteF-cl: #ffffff;
  --btnbc: #f5f4fa;
  --bcteam: #f5f4fa;
  --backgroundteam: #f5f4fa;
  --color-line:#C4C4C4;
  --color-icon:#AFB1B8;
  --border-team: rgba(0, 0, 0, 0.25);
  --border-project: #EEEEEE;
  --border-header: #ECECEC;
  --clientc: #AFB1B8;
  --card-prf: 30px;
}
body {
  font-family: var(--roboto-font);
  color: var(--brand-color);
  background: var(--white-cl);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img{
  display: block;
  max-width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}
.modul{
  padding: 94px 0;
}
/*Хедер*/
.header{
  border-bottom: 1px solid var(--border-header) ;
}
.logo {
  font-family: var(--logo-font);
  font-size: 26px;
}

.webstudio {
  color: var(--logo-cl);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.studio {
  color: var(--black-cl);
}
/* .navigation {
  padding-top: 32px;
  padding-bottom: 32px;
} */

.list-navigation {
  display: flex;
  align-items: center;
}
.item-navigation {
  margin-right: 50px;
}
.link-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  padding: 32px 0;
}
.current {
  color: var(--logo-cl);
}
.currents {
}
.link-navigation:hover,
.link-navigation:focus {
  color: var(--logo-cl);
}
.contacts {
  display: flex;
  margin-left: auto;
  /* padding-top: 32px; */
  /* padding-bottom: 32px; */
}
.icon-contact{
  fill: var(--grey-cl);
  margin-right: 10px;
}
.contacts-mail {
  margin-right: 50px;

}

.link-mail {
  font-family: var(--roboto-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-cl);
  padding: 32px 0;
}
.link-mail:hover,
.link-mail:focus {
  color: var(--logo-cl);
}
.link-mail:hover .icon-contact,
.link-mail:focus .icon-contact {
  fill: var(--logo-cl);
}


.link-tel {
  font-family: var(--roboto-font);
  font-style: 1.14;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-cl);
  padding: 32px 0;
}
.link-tel:hover,
.link-tel:focus {
  color: var(--logo-cl);
  
}
.link-tel:hover .icon-contact,
.link-tel:focus .icon-contact{
  fill: var(--logo-cl);
}

/* Особливості*/
.home {
  background: var(--bc-footcl);
  padding: 200px 0;
  /* height: 600px; */
}
.home-title {
  max-width: 650px;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-cl);
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: auto;
  /* padding-top: 200px; */
}
.bc-home {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bc/bc-home.svg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-home {
  display: block;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  background: var(--logo-cl);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whiteF-cl);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
}
.btn-home:hover {
  color: var(--whiteF-cl);
  background: var(--btn-cl);
}
.specifics{
  padding-bottom: 0;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bcteam);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.list-specifics {
  display: flex;
  align-items: center;
  /* padding-top: 94px; */
  /* padding-bottom: 60px; */
  width: 1170px;
  margin: 0 auto;
  padding-left: 0;
}

.item-specifics {
  max-width: 270px;
  margin-right: 30px;
}
.item-specifics:last-child {
  margin-right: 0;
}
.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.specifics-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-cl);
}
/* Лінія */
/* .line{
  width: 1170px;
  height: 9px;
  border: none;
  background-color: var(--color-line);
  margin-top: 0;
  margin-bottom: 25px;
} */
/* Чим ми займаємось */
.title-work {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
}
.list-work {
  display: flex;
  /* padding-bottom: 94px; */
}
.item-work {
  margin-right: 30px;
}
.item-work:last-child {
  margin-right: 0;
}
/*Наша команда*/
.team {
  background-color: var(--bcteam);
}
.title-team {
  text-align: center;
  font-size: 36px;
  /* padding-top: 94px; */
  margin-bottom: 50px;
}
.list-team {
  display: flex;
  /* padding-bottom: 94px; */
}
.item-team {
  margin-right: 30px;
  background-color: var(--white-cl);
  border-radius: 4px;
  box-shadow: 0 4px 4px var(--border-team);
}
.item-team:last-child {
  margin-right: 0;
}
.img-team {
  /* margin-bottom: 30px; */
}
.team-tt{
  padding: 30px 0;
}
.team-name-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  margin-bottom: 10px;
  /* padding: 30px 0 10px 0; */
}
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey-cl);
  margin-bottom: 16px;
  /* padding-bottom: 30px; */
}
.svg-icon{
fill:var(--color-icon);
}
.social-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item:not(:last-child){
 margin-right: 10px; 
}
.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color:var(--white-cl);
  border-radius: 50%;
}
.social-link:hover,
.social-link:focus{
  background-color:var(--logo-cl);
}
.social-link:hover .svg-icon,
.social-link:focus .svg-icon{

  fill: var(--white-cl);
}
/* Клієнти */
.title-clients {
  text-align: center;
  font-size: 36px;
  /* padding-top: 94px; */
  margin-bottom: 50px;
}
.list-client{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-client{
  fill: var(--clientc);
}
.item-client{
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clientc);
  border-radius: 4px;
}
.item-client:not(:last-child){
  
  margin-right: 30px;
}
.item-client:hover,
.item-client:focus {
  border: 1px solid var(--logo-cl);
  cursor: pointer;
}
.item-client:hover .icon-client,
.item-client:focus .icon-client {
  fill: var(--logo-cl);
}

/* Підвал*/
.join{
  display: inline-block;
}
.webstudio-footer {
  color: var(--logo-cl);
  padding-bottom: 20px;
}
.studio-footer {
  color: var(--white-cl);
}
.footer-container {
  background-color: var(--bc-footcl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adress{
/* padding-left: 215px;
padding-bottom: 60px; */
}
.adress-list{
  padding-top: 20px;
  
}
.country {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-cl);
  font-style: normal;
}
.mail-footer,
.tel-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-cl);
}
.mail-footer:hover,
.mail-footer:focus {
  color: var(--logo-cl);
}
.tel-footer:hover,
.tel-footer:focus {
  color: var(--logo-cl);
}
.join{
  width: 206px;
  margin-left: 70px;
  padding-top: 12px;
}
.title-join{
  font-style: var(--roboto-font);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  color: var(--white-cl);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
.item-footer{
  margin-bottom: 9px;
}
.join-list{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.join-link{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.join-item:not(:last-child){
  margin-right: 10px;
}
.join-link:hover,
.join-link:focus{
  background-color: var(--logo-cl);
}
.icon-join{
  fill: var(--white-cl);
}
.new{
  display: flex;
}
/*Портфоліо*/
.section-portfolio{
  padding: 94px 0;
}
/* Кнопки */
.section-portfolio .menu-btn.active {
  color: var(--whiteF-cl);
  background-color: var(--logo-cl);
}
.container > .list-portfolio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  /* padding-top: 94px; */
  /* padding-bottom: 50px; */
  
}
.menu-btn:hover,
.menu-btn:focus {
  background: var(--logo-cl);
  color: var(--whiteF-cl);
}
.menu-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--btnbc);
  padding: 6px 22px;
  box-shadow: 0px 4px 4px var(--border-team);
}
.item-btn {
  margin-right: 8px;
  
}
/*Проекти*/
.container > .project-list {
  display: flex;
  flex-wrap: wrap;
  /* padding-bottom: 94px; */
  margin-left: calc( -1 * var(--card-prf));
  margin-top: calc( -1 * var(--card-prf));
}
.project{
  margin-top: var(--card-prf);
  margin-left: var(--card-prf);
  flex-basis: calc(100% / 3 calc( -1 * var(--card-prf)));
  /* margin-right: 30px;
  margin-bottom: 30px; */
  /* outline: 1px solid red; */
  /* outline: 1px solid var(--border-project); */
  width: 370px;
  border: 1px solid var(--border-project) ;
}
/* .project:nth-child(3n){
  margin-right: 0;
}
.project:nth-last-child(-n+3){
margin-bottom: 0;
} */

.card-content{
  padding: 20px 24px;
}
.title-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  margin-bottom: 4px;
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-cl);
}
/* Декорація */
.list-navigation,
.contacts,
.list-specifics,
.list-work,
.list-team,
.adress-list,
.list-portfolio-btn,
.project-list,
.social-list,
.item-client,
.join-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.dec {
  text-decoration: none;
  /* padding: 32px 0; */

}
.card-thumb{
  /* outline: 1px solid red; */
}
.project:hover,
.project:focus {
cursor: pointer;
box-shadow: 0 4px 4px var(--border-team);
}
